# Directories
.vscode/*
.cache/*
GUI/src/__pycache__/*
GUI/tests/*.hex
GUI/tests/*.json
Simulator/build/*
Simulator/tests/batch/*
Simulator/tests/outputs/*
*.hex
*.log

# To be kept
!GUI/src/*
!Simulator/build/CMakeLists.txt