# Directories
.vscode/*
.cache/*
GUI/src/__pycache__/*
GUI/src/dependencies/CPU_Pipeline_Simulator.exe
GUI/tests/*.hex
GUI/tests/*.json
Simulator/build/*
Simulator/release/*
Simulator/tests/batch/*
Simulator/tests/outputs/*
*.hex
*.log

# To be kept
!GUI/src/*
!Simulator/build/CMakeLists.txt
!Simulator/release/CMakeLists.txt
!Simulator/release/mingw-w64-toolchain.cmake